<div class="container">
  <div class="col-md-6 col-md-offset-6 col-sm-10 col-sm-offset-1">

    <h3>入力確認</h3>

    <%= form_for(@blog) do |f| %>

      <!-- hidden_field でリクエストパラメータに値を
      　設定できるようになっている -->
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>

      <p>タイトル: <%= @blog.title %></p>
      <p>本文: <%= @blog.content %></p>

      <%= f.submit "投稿", class:"btn btn-primary btn-block" %>

    <% end %>


    <!-- 戻ると入力内容が消えてしまうのを防ぐ
        戻るというより、フォームで送るという感じ -->
    <%= form_for(@blog, url: new_blog_path, method: "get") do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>

      <!-- 戻るボタンからのアクセスであることを
            明示したいためパラメータを設定 -->
      <%= f.submit "戻る", name: "back", class:"btn btn-default btn-block" %>

    <% end %>

  </div>
</div>
